body {
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  text-decoration: none !important;
}

h1 {
  color: black;
}

.header,
.footer {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
}

.header {
  padding-bottom: 10px;
}

.headerText {
  color: #333;
}

.footer {
  text-align: center;
  vertical-align: middle;
}

.footerText {
  color: #777;
  font-size: 1.2em;
}

.fa-github {
  font-size: 1.5em;
}

#toolSpace,
#dashboardSpace {
  padding-top: 10px;
  padding-bottom: 10px;
}

#canvasPanelBody {
  padding: 0px;
}

#canvasPanel {
  margin-bottom: 0px;
  width: auto;
  height: auto;
  overflow: hidden;
  text-align: center;
  max-height: 394px;
  margin-bottom: 15px;
}

.toolbutton {
  padding-top: 0px;
  vertical-align: middle;
  max-width: 54px;
  font-size: 2em;
}

.tool {
  padding-top: 0px;
  vertical-align: middle;
}

.dashboardItem {
  vertical-align: middle;
  font-size: 2em;
  margin-bottom: 0px;
}

.dashboardData {
  margin: 0px;
}

#pageContainer {
  text-align: center;
  max-width: 700px;
  padding-left: 0px;
  padding-right: 0px;
}

.row-centered {
  text-align:center;
}

.col-centered {
  display:inline-block;
  float:none;
  text-align:center;
}
